<h4> Shopping cart for <%= @user.email %> </h4>
<table class="table">
  <thead>
    <tr>
      <th> Item Name </th>
      <th> Quantity </th>
      <th> Price Per Item </th>
      <th> Item Subtotal </th>
    </tr>
  </thead>
  <%  @shopping_cart_items.each do |item| %>
    <tr>
      <td> <%= item.product.title %> </td>
      <td> <%= item.quantity %> </td>
      <td> <%= item.product.price %> </td>
      <td> <%= (item.product.price)*(item.quantity) %> </td>
      <td><%= form_for :shopping_cart_item, url: '/cart', method: :delete  do |f| %>
        <%= hidden_field_tag 'id', item.id %>
        <button name="remove-from-cart" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove"></span> Remove</button>
        <% end %>
    </tr>
  <% end %>
  <tr>
    <td> Shopping Cart Total </td>
    <td> </td>
    <td> </td>
    <td> <%= @order.order_total %> </td>
  </tr>
</table>

<div>
<%= link_to 'Fake Checkout', cart_path, :class => "success button" %>  
<%= form_for :order, url:'/checkout' do |f| %>
  <%= hidden_field_tag 'order_id', @order.id %>
</h5>
<%= f.submit 'Checkout', :class => "success button" %>
<% end %>
</div>
