<h1> Enter your credentials</h1>

<%= form_tag(controller: "checkout", action: "save_checkout", method: "post", class: "") %>
  <h4> Select address</h4>
  <table>
    <% @addresses.each do |address| %>
    <tr>
      <td><input type="radio" name="address_id" value="<% address.id %>"></td>
      <td>
        <%= render partial: 'addresses/show', locals: {address: address}%>
      </td>
    <% end %>
  </table>

  <%= link_to 'New Address', new_address_path, :class => "button" %>

<h4> Select payment details</h4>

  <h4> Select Payment</h4>
  <table>
    <% @payment_infos.each do |payment_info| %>
    <tr>
      <td><input type="radio" name="payment_info_id" value="<% payment_info.id %>"></td>
      <td>
        <%= render partial: 'payment_infos/show', locals: {payment_info: payment_info}%>
      </td>
    <% end %>
  </table>

  <%= link_to 'New payment_info', new_payment_info_path, :class => "button" %>

</form>
