
<% address = @address if @address %>
<p><%= address.street_address %></p><br>
<% if (address.street_address2 != nil) %>
  <p><%= address.street_address2 %></p><br>
  <% end %>
<p><%= address.city %>, <%= address.state %> <%= address.zip %></p><br>


