<!DOCTYPE html>
<html>
<head>
  <title>Abezon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-bar">
    <div class="container">
      <div class="top-bar-left">
        <a href="/"><img src="https://s-media-cache-ak0.pinimg.com/236x/48/97/d3/4897d377aa1154f8b3e5b32cd3b25804.jpg" alt="logo" class="logo"></a>
      </div>
      <div class="top-bar-left">
        <ul class="menu button-group">
          <li class="button small"><a href="/categories">Categories</a></li>
          <li class="button small"><a href="/products">Products</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu button-group">
          <% if current_user %>
          <!-- <li> Welcome <%=current_user.email %></li> -->
          <li>
            <a href="/cart" class="btn btn-primary btn-success" data-toggle="modal" data-target="#shopping-cart"><i class="fi-shopping-cart"></i> Cart <span class="badge"><%= current_user.orders.last.shopping_cart_items.count %></span>
            </a>
          </li>
          <li class="button small"><%= link_to "Log out", destroy_user_session_path, :method => :delete %> </li>
          <li class="secondary button small"><%= link_to "Manage Users", users_path if current_user.admin? %></li>
          <% else %>
          <li class="button small"><%= link_to "Log in", new_user_session_path %> </li>
          <li class="button small"><%= link_to "Sign Up", new_user_registration_path %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% if flash[:notice] %>
  <center>
    <div class="alert alert-info" data-dismiss="alert" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  </center>
<% end %>
<% if flash[:error] %>
  <center>
    <div class="alert alert-danger" data-dismiss="alert" role="alert">
      <%= flash[:error] %>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  </center>
<% end %>
  <% if flash[:success] %>
    <center>
      <div class="alert alert-success" data-dismiss="alert" role="alert">
        <%= flash[:success] %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    </center>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
